
<div class="box blurred-bg tinted" id="product-container">
    <form class="form-horizontal" action="addSite" method="post">
        <fieldset>
            <div class="row">
                <div class="form-group col-md-4">
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
                        <input type="hidden" id="NameXpath" name="NameXpath">
                        <input type="hidden" id="url" name="Url">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="product-description" name="description"
                               placeholder="Product Description">
                               <input type="hidden" id="DescriptionXpath" name="DescriptionXpath">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="short-description" name="shortDescription"
                               placeholder="Short Description">
                               <input type="hidden" id="DescriptionXpath" name="ShortDescriptionXpath">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                  <div class="col-lg-10">
                        <input type="text" class="form-control" id="regular-price" name="regularPrice" placeholder="Regular Price">
                        <input type="hidden" id="RegularPriceXpath" name="RegularPriceXpath">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="sale-price" name="salePrice"
                               placeholder="Sale Price">
                                 <input type="hidden" id="SalePriceXpath" name="SalePriceXpath">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-success">Cancel</button>
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label" for="focusedInput"></label>
        <input class="form-control" id="tb-url" type="text" placeholder="Enter Url"/>
        <button id='btn-url' class="btn btn-warning pull-right">Submit</button>
    </div>

</div>
<div class="row">
    <div class="col-md-12" id="web-site">
    </div>
</div>

{{#section 'scripts'}}
    <script type="text/javascript" src="js/addSite.js"></script>
{{/section}}
