{{#each products}}
    <ul class="nav nav-tabs">
        <li><a href="#name" data-toggle="tab">Product Name</a></li>
        <li><a href="#description" data-toggle="tab">Description</a></li>
        <li><a href="#short" data-toggle="tab">ShortDescription</a></li>
        <li><a href="#price" data-toggle="tab">Price</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                Edit <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#/edit?id={{this.Id}}" data-toggle="tab">Edit</a></li>
                <li class="divider"></li>
                <li><a href="#/delete?id={{this.Id}}" data-toggle="tab">Delete</a></li>
            </ul>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="name">
            <p>{{this.Name}}</p>
        </div>
        <div class="tab-pane fade" id="description">
            <p>{{this.Description}}</p>
        </div>
        <div class="tab-pane fade" id="short">
            <p>{{this.ShortDescription}}</p>
        </div>
        <div class="tab-pane fade" id="price">
            <p>Regular Price : {{this.RegularPrice}} <br>
                Sale Price : {{this.SalePrice}}
            </p>
        </div>
    </div>
{{/each}}