body {
    background: url(../pics/Humarmarket.jpg);
}

.navbar-default {
    background-color: #15B6D6;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 0px;
}

#nav .navbar-nav  li  a{
    color: #ffffff;
}
#scriptDiv{
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 3px;
    color: #ffffff;
}

#nav .navbar-nav  li  a:hover{
    color:  #011C21;

}




.box {

    border-radius: 5px;
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    transition: box-shadow .3s ease;
    backdrop-filter: blur(10px)
}
.box:active {
    cursor: move;
    -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}
.box .content {
    margin: auto;
}


